@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

::*,
*,
*:: {
    margin: 0;
    padding: 0;
}

:root{
    --primary-color:
    --secondary-color:
    --color-text: #fff;
    --header-height: 3rem;

}
html,
body {
    font-size: 14px;
    width: 100%;
    height: 100vh;
    font-family: 'Poppins',sans-serif;
    overflow: hidden !important;
}

ul,
li{
    float: right;
    display: flex;
    margin-right:20px;
    margin-top: 10px;
    list-style-type: none;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
    border: none;
    outline: none;
}
header {
    
}