        @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
        * {
            margin: 0;
            padding: 0;
        }
        
         :root {
            --primary-color: #1B2338;
            --secondary-color: #B0253C;
            --header-height: 5rem;
            --color-text: #fff;
        }
        
        html,
        body {
            width: 100%;
            height: 100vh;
            font: 14px 'Poppins', sans-serif;
            /* overflow: hidden !important; */
            color: var(--color-text);
        }
        
        header {
            width: 100%;
            height: 6rem;
            background: var(--color-text);
            position: fixed;
            top: 0;
            left: 0;
            box-shadow: 0px 0px 1px 1px #aaa;
        }
        
        ul,
        li {
            list-style-type: none;
        }
        
        a {
            text-decoration: none;
            color: var(--color-text);
        }
        
        button {
            cursor: pointer;
            border: none;
            outline: none;
        }
        
        .parent-overlay,
        .parent-container {
            display: flex;
            margin-top: 2px;
            width: 100%;
        }
        /* .overlay {
        width: 33.33%;
        height: 100vh;
        z-index: 100;
    }
    
    .first {
        background-color: var(--primary-color);
    }
    
    .second {
        background-color: var(--color-text);
    }
    
    .third {
        background-color: var(--secondary-color);
    }
     */
        
        .left_container,
        .right_container {
            height: 100vh;
            z-index: -50;
            width: 50%;
        }
        
        .left_container {
            background-color: var(--primary-color);
        }
        
        .right_container {
            background: var(--secondary-color);
        }
        
        .left_strip,
        .right_strip {
            position: absolute;
            height: 100vh;
            background-color: var(--color-text);
            opacity: 0.5;
            z-index: -10;
            width: 0.5px;
        }
        
        .left_strip {
            left: 8.6rem;
        }
        
        .right_strip {
            right: 8.6rem;
        }
        
        .body-layout {
            padding-left: 1rem;
            padding-right: 1rem;
            width: 100%;
            margin-top: 2rem;
        }
        
        .nav {
            justify-content: space-between;
            align-items: center;
        }
        
        .nav-inside {
            width: 100%;
            display: flex;
            align-items: center;
        }
        
        .title {
            width: 30%;
        }
        
        .search-container {
            width: 5%;
        }
        
        .nav-menu {
            margin-left: 3rem;
            width: 60%;
            /* margin-top: 3rem; */
        }
        
        .nav-item {
            float: right;
            margin-right: 1.3rem;
            color: black;
        }
        
        .nav-item:hover {
            font-weight: 600;
            border-bottom: 0.1rem solid red;
            border-spacing: 30rem;
            margin-top: -2px;
        }
        
        .nav-link {
            display: default;
            text-transform: capitalize;
            color: black;
        }
        
        .nav-link:hover {
            opacity: 0.7;
        }
        /* .btn-toggle {
            width: 5%;
        }
         */
        
        .nav_icon {
            font-size: 1.5rem;
            text-transform: capitalize;
        }
        
        .search-btn {
            width: 2rem;
            height: 2rem;
            border-radius: 50px;
            margin-right: 5rem;
        }
        /* .search-btn i {
            font-weight: 600;
        } */
        /*===== SOCIAL  =====*/
        
        .social {
            position: absolute;
            left: -2%;
            top: 70%;
        }
        
        .social ul {
            list-style: none;
            transform: rotate(-90deg);
        }
        
        .social ul li {
            display: inline-block;
            font-weight: 500;
            font-size: 14px;
            cursor: pointer;
            margin-right: 1.3rem;
        }
        
        .social ul li::nth-child(1)::after {
            content: "/";
            /* position: absolute;
            left: -2%;
            color: red; */
        }
        
        .social ul li::nth-child(2)::after {
            content: "/";
            /* position: absolute;
            left: -2%;
            color: red; */
        }
        
        .social ul li:not(:last-child) {
            padding-right: 60px;
        }
        
        .social ul li i {
            font-size: 19px;
        }